$blue: #03A9F4;
$blue-dk: #0288D1;
$white: white;
$black: black;
$grey: #616161;
$grey-lt: #E0E0E0;


$font-lt: $white;
$font-title: $blue;
$font-dk: $black;
$accent: $blue-dk;
$hr-color: $grey-lt;
$highlight: $grey;
$main: $blue;