@import './colors.scss';

.header {
	display: flex;
	flex-direction: column;
	min-height: 200px;
	text-align: center;
	color: $font-lt;

	.navbar {
		display: inline-flex;
		height: 50px;
		background-color: $accent;
		padding-left: 7%;
		align-items: center;
		text-transform: uppercase;
		
		.nav-link{
			margin-left: 1rem;
			margin-right: 1rem;
			padding-bottom: 0.75rem;
			a {
				color: $font-lt;
				text-decoration: none;
			}

			&.active {
				border-bottom: 2px solid white;
			}
		}
	}

	.introduction {
		display: flex;
		flex-wrap: nowrap;
		height: 150px;
		box-shadow: 0 5px 4px -3px $highlight;
		z-index: 2;
		background-color: $main;
		.left {
			display: inline-flex;
			flex-direction: column;
			flex: 2 0 60%;
			justify-content: center;
			align-content: center;
			text-align: left;
			text-indent: 4rem;

			.name{
				margin-bottom: 0.5rem;
				font-size: 2rem;
			}
		}

		.right {
			display: inline-flex;
			flex: 1 0 40%;
			justify-content: center;
			align-items: center;
			text-align: right;

			img{
				height: 100px;
				width: 100px;
				background-color: green;
				border-radius: 50%;
			}
		}
	}
}
