@import './colors.scss';
.blurb {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	font-size: 0.9rem;
	text-align: left;
	color: $font-lt;
	background-color: rgba($highlight, 0.6);

	p{
		margin-left: 4rem;
		margin-right: 4rem;
		text-indent: 0;
	}
}

.home {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 600px;
	text-align: center;
	background: url(../background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.center-stripe {
		background-color: rgba(255,255,255, 0.30);
	}

	.button-stripe {
		position: absolute;
		bottom: 3rem;
	}

	h1, h2 {
		padding-left: 8rem;
		padding-right: 8rem;
		color: $font-dk;
	}

	button {
		font-size: 1.2rem;
		padding: 1.2rem;
		text-transform: uppercase;
		margin: 2rem;
		border: 2px solid $hr-color;
		background-color: $accent;
		color: $font-lt;
	}
}

.main-page {
	display: inline-flex;
	background-color: $white;
	color: $black;
	padding-top: 2rem;
	padding-bottom: 2rem;

	hr {
		width: 12rem;
		border-top: none;
		border-bottom: 1px solid $hr-color;
	}


	.left-side-bar {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex: 1 0 35%;
		.left-side-bar-item{
			flex: 1;
			padding-left: 2rem;
			h3 {
				color: $main;
			}
			.personal-box {


				.data-item-wrapper{
					display: flex;
					flex-direction: column;
					text-align: left;
					hr{
						margin-right: 2rem;
						width: 80%;
					}
					.data-item {
						display: inline-flex;
						justify-content: space-between;
						font-size: 0.8rem;
						.keyName {
							min-width: 7rem;
							font-weight: bold;
							flex: 1 0 40%;
						}
						.valueName {
							text-indent: 0;
							flex: 1 0 60%;
						}					
					}				
				}
			}
			.software-box {
				display: flex;
				flex-direction: column;
				text-align: left;
				.bar-item {
					display: inline-flex;
					justify-content: space-between;
					font-size: 0.8rem;
					margin-right: 4rem;
					.language-name {
						flex: 1 0 40%;
						margin-bottom: 0.5rem;
						margin-right: 0.6rem;
						min-width: 7rem;
					}
					.progress-bar{
						text-indent: 0;
						flex: 1 0 60%;
						width: 100%;
						height: 10px;
						background-color: $hr-color;
						.the-bar {
							text-indent: 0;
							height: 10px;
							background-color: $main;
						}
					}
				}

			}
			.hobbies-box {
				display: flex;
				flex-direction: column;
				text-align: left;
				.hobbies-item{
					display: flex;
					justify-content: space-around;
					padding-left: 0.75rem;
					padding-right: 0.75rem;
					max-width: 80%;
					flex-wrap: wrap;

					.hobbies-links{
						text-indent: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						font-size: 0.8rem;
						text-align: center;
						width: 50px;
						margin-bottom: 0.5rem;

						.fa-circle{
							color: $accent-lt;
						}

						.hobbies-label {
							color: $font-dk;
							font-weight: bold;
						}
					}					
				}
			}
		}
	}

	.right-side-bar {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex: 1 0 65%;
		background-color: $white;
		text-indent: 2rem;
		border-left: 1px solid $hr-color;

		.right-side-bar-item {
			flex: 1;
			h3 {
				color: $main;
			}

			.work-box {
				display: flex;
				flex-direction: column;
				.bulleted-item {
					display: inline-flex;
					margin-bottom: 0.5rem;
					font-size: 0.9rem;
					.left {
						display: flex;
						justify-content: flex-end;
						flex: 1 0 10%;
						.bullet {
							position: relative;
							text-indent: 0;
							.fa-fw{
								height: 16px;
								width: 16px;
							}
							.fa-stack-2x{
								color: $hr-color;
							}
							.fa-stack-1x {
								color: $main;
							}
						}
					}
					.right {
						display: flex;
						flex-direction: column;
						flex: 1 0 90%;
						.item-header {
							display: flex;
							justify-content: space-between;
							font-weight: bold;
							margin-bottom: 0.5rem;
							.year {
								position: relative;
								left: -2rem;
							}
						}
						.item-desc {
							text-indent: 0;
							text-align: left;
							margin-left: 2rem;
							margin-right: 1rem;
						}

					}

					.bottom{

					}
					
					hr{
						width: 85%;
					}
				}
			}
			.skills-box {
				display: flex;
				flex-direction: column;
				.skills-row{
					margin-left: 1.5rem;
					margin-right: 1.5rem;
					display: inline-flex;
					justify-content: space-between;
					.pie-item{
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}		
				
			}


			.education-box {
				display: flex;
				flex-direction: column;
				.bulleted-item {
					display: inline-flex;
					margin-bottom: 0.5rem;
					font-size: 0.9rem;
					.left {
						display: flex;
						justify-content: flex-end;
						flex: 1 0 10%;
						.bullet {
							position: relative;
							text-indent: 0;
							.fa-fw{
								height: 16px;
								width: 16px;
							}
							.fa-stack-2x{
								color: $hr-color;
							}
							.fa-stack-1x {
								color: $main;
							}
						}
					}
					.right {
						display: flex;
						flex-direction: column;
						flex: 1 0 90%;
						.item-header {
							display: flex;
							justify-content: space-between;
							font-weight: bold;
							margin-bottom: 0.5rem;
							.year {
								position: relative;
								left: -2rem;
							}
						}
					}

					.bottom{

					}
					
					hr{
						width: 85%;
					}
				}
			}

		}
	}

}
.projects {
	border: 1px solid $highlight;
	.project-bar{
		display: flex;
		justify-content: space-around;
		align-items: stretch;
		height: 200px;
		position: relative;
		background-color: $white;
		border-bottom: 1px solid $highlight;

		&.row{
			flex-direction: row;
		}

		&.row-reverse{
			flex-direction: row-reverse;
		}

		.project-info {
			display: flex;
			flex-direction: column;
			flex: 1 1 40%;
			position: relative;
			background-color: $white;
			.title {
				position: absolute;
				top: 0;
				left: 1rem;
				color: $main;
			}
			.info {
				position: absolute;
				top: 4rem;
				left: 1rem;	
				text-align: left;	
				color: $font-dk;	
				font-size: 0.9rem;	
				margin-right: 1rem;
			}
			.website {
				position: absolute;
				bottom: 1rem;
				left: 1rem;
				color: $main;
				font-size: 0.9rem;	
				a{
					color: $main;
					text-decoration: none;
				}
			}

		}

		.project-img {
			flex: 1 1 60%;
			display: inline-flex;
			align-items: center;
			justify-content: center;			
		}
	}
}