@import './colors.scss';

.main-page {
	display: inline-flex;
	min-height: 800px;
	background-color: $white;
	color: $black;

	hr {
		width: 12rem;
		border-top: none;
		border-bottom: 1px solid $hr-color;
	}

	.left-side-bar {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex: 1 0 35%;
		text-indent: 2rem;
		.left-side-bar-item{
			flex: 1;
			padding-left: 2rem;
			h3 {
				color: $main;
			}
			.personal-box {
				display: flex;
				flex-direction: column;
				text-align: left;
				hr{
					width: 12rem;
				}
				.data-item {
					display: inline-flex;
					justify-content: space-between;
					font-size: 0.8rem;
					.keyName {
						font-weight: bold;
						flex: 1 0 40%;
					}
					.valueName {
						text-indent: 0;
						flex: 1 0 60%;
					}					
				}
			}
			.software-box {
				display: flex;
				flex-direction: column;
				text-align: left;
				.bar-item {
					display: inline-flex;
					justify-content: space-between;
					font-size: 0.8rem;
					.language-name {
						flex: 1 0 40%;
						margin-bottom: 0.5rem;
					}
					.progress-bar{
						text-indent: 0;
						flex: 1 0 60%;

					}
				}

			}
			.hobbies-box {
				display: flex;
				flex-direction: column;
				text-align: left;
				.hobbies-row{
					display: inline-flex;
					justify-content: space-around;
					padding-left: 0.75rem;
					padding-right: 0.75rem;

					.hobbies-links{
						text-indent: 0;
						display: flex;
						flex-direction: column;
						font-size: 0.8rem;
						text-align: center;
						margin-bottom: 0.5rem;

						.fa-circle{
							color: $accent-lt;
						}

						.hobbies-label {
							color: $font-dk;
							font-weight: bold;
						}
					}					
				}
			}
		}
	}

	.right-side-bar {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex: 1 0 65%;
		background-color: $white;
		text-indent: 2rem;
		border-left: 1px solid $hr-color;

		.right-side-bar-item {
			flex: 1;
			h3 {
				color: $main;
			}

			.work-box {
				display: flex;
				flex-direction: column;
				.bulleted-item {
					display: inline-flex;
					margin-bottom: 0.5rem;
					font-size: 0.9rem;
					.left {
						display: flex;
						justify-content: flex-end;
						flex: 1 0 10%;
						.bullet {
							position: relative;
							text-indent: 0;
							.fa-fw{
								height: 16px;
								width: 16px;
							}
							.fa-stack-2x{
								color: $hr-color;
							}
							.fa-stack-1x {
								color: $main;
							}
						}
					}
					.right {
						display: flex;
						flex-direction: column;
						flex: 1 0 90%;
						.item-header {
							display: flex;
							justify-content: space-between;
							font-weight: bold;
							margin-bottom: 0.5rem;
							.year {
								position: relative;
								left: -4rem;
							}
						}
					}

					.bottom{

					}
					
					hr{
						width: 85%;
					}
				}
			}
			.skills-box {
				display: flex;
				flex-direction: column;
				.skills-row{
					margin-left: 1.5rem;
					margin-right: 1.5rem;
					display: inline-flex;
					justify-content: space-between;
					.pie-item{
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}		
				
			}


			.education-box {
				display: flex;
				flex-direction: column;
				.bulleted-item {
					display: inline-flex;
					margin-bottom: 0.5rem;
					font-size: 0.9rem;
					.left {
						display: flex;
						justify-content: flex-end;
						flex: 1 0 10%;
						.bullet {
							position: relative;
							text-indent: 0;
							.fa-fw{
								height: 16px;
								width: 16px;
							}
							.fa-stack-2x{
								color: $hr-color;
							}
							.fa-stack-1x {
								color: $main;
							}
						}
					}
					.right {
						display: flex;
						flex-direction: column;
						flex: 1 0 90%;
						.item-header {
							display: flex;
							justify-content: space-between;
							font-weight: bold;
							margin-bottom: 0.5rem;
							.year {
								position: relative;
								left: -4rem;
							}
						}
					}

					.bottom{

					}
					
					hr{
						width: 85%;
					}
				}
			}

		}
	}
}