.header {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  text-align: center;
  color: white; }
  .header .navbar {
    display: inline-flex;
    height: 50px;
    background-color: #0288D1;
    padding-left: 7%;
    align-items: center;
    text-transform: uppercase; }
    .header .navbar .nav-link {
      padding-left: 1rem;
      padding-right: 1rem; }
  .header .introduction {
    display: flex;
    flex-wrap: nowrap;
    height: 150px;
    box-shadow: 0 5px 4px -3px #616161;
    z-index: 2;
    background-color: #03A9F4; }
    .header .introduction .left {
      display: inline-flex;
      flex-direction: column;
      flex: 2 0 60%;
      justify-content: center;
      align-content: center;
      text-align: left;
      text-indent: 4rem; }
      .header .introduction .left .name {
        margin-bottom: 0.5rem;
        font-size: 2rem; }
    .header .introduction .right {
      display: inline-flex;
      flex: 1 0 40%;
      justify-content: center;
      align-items: center;
      text-align: right; }
      .header .introduction .right img {
        height: 100px;
        width: 100px;
        background-color: green;
        border-radius: 50%; }
  .header .blurb {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: rgba(97, 97, 97, 0.6);
    font-size: 0.9rem;
    text-align: left; }
    .header .blurb p {
      text-indent: 0;
      margin-left: 4rem;
      margin-right: 4rem; }
