.header {
  display: flex;
  flex-direction: column;
  height: 200px;
  text-align: center;
  background-color: #03A9F4;
  color: white; }
  .header .navbar {
    display: inline-flex;
    height: 50px;
    background-color: #0288D1;
    padding-left: 7%;
    align-items: center;
    text-transform: uppercase; }
    .header .navbar .nav-link {
      padding-left: 1rem;
      padding-right: 1rem; }
  .header .introduction {
    display: flex;
    flex-wrap: nowrap;
    height: 150px; }
    .header .introduction .left {
      display: inline-flex;
      flex-direction: column;
      flex: 2 0 60%;
      justify-content: center;
      align-content: center;
      text-align: left;
      text-indent: 4rem; }
      .header .introduction .left .name {
        font-size: 2rem; }
    .header .introduction .right {
      display: inline-flex;
      flex: 1 0 40%;
      justify-content: center;
      align-items: center;
      text-align: right; }
      .header .introduction .right img {
        height: 100px;
        width: 100px;
        background-color: green;
        border-radius: 50%; }
