.blurb {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: rgba(97, 97, 97, 0.6);
  font-size: 0.9rem;
  text-align: left;
  color: white; }
  .blurb p {
    text-indent: 0;
    margin-left: 4rem;
    margin-right: 4rem; }

.main-page {
  display: inline-flex;
  background-color: white;
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .main-page hr {
    width: 12rem;
    border-top: none;
    border-bottom: 1px solid #E0E0E0; }
  .main-page .left-side-bar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 35%; }
    .main-page .left-side-bar .left-side-bar-item {
      flex: 1;
      padding-left: 2rem; }
      .main-page .left-side-bar .left-side-bar-item h3 {
        color: #03A9F4; }
      .main-page .left-side-bar .left-side-bar-item .personal-box .data-item-wrapper {
        display: flex;
        flex-direction: column;
        text-align: left; }
        .main-page .left-side-bar .left-side-bar-item .personal-box .data-item-wrapper hr {
          margin-right: 2rem;
          width: 80%; }
        .main-page .left-side-bar .left-side-bar-item .personal-box .data-item-wrapper .data-item {
          display: inline-flex;
          justify-content: space-between;
          font-size: 0.8rem; }
          .main-page .left-side-bar .left-side-bar-item .personal-box .data-item-wrapper .data-item .keyName {
            min-width: 7rem;
            font-weight: bold;
            flex: 1 0 40%; }
          .main-page .left-side-bar .left-side-bar-item .personal-box .data-item-wrapper .data-item .valueName {
            text-indent: 0;
            flex: 1 0 60%; }
      .main-page .left-side-bar .left-side-bar-item .software-box {
        display: flex;
        flex-direction: column;
        text-align: left; }
        .main-page .left-side-bar .left-side-bar-item .software-box .bar-item {
          display: inline-flex;
          justify-content: space-between;
          font-size: 0.8rem;
          margin-right: 4rem; }
          .main-page .left-side-bar .left-side-bar-item .software-box .bar-item .language-name {
            flex: 1 0 40%;
            margin-bottom: 0.5rem;
            margin-right: 0.6rem;
            min-width: 7rem; }
          .main-page .left-side-bar .left-side-bar-item .software-box .bar-item .progress-bar {
            text-indent: 0;
            flex: 1 0 60%;
            width: 100%;
            height: 10px;
            background-color: #E0E0E0; }
            .main-page .left-side-bar .left-side-bar-item .software-box .bar-item .progress-bar .the-bar {
              text-indent: 0;
              height: 10px;
              background-color: #03A9F4; }
      .main-page .left-side-bar .left-side-bar-item .hobbies-box {
        display: flex;
        flex-direction: column;
        text-align: left; }
        .main-page .left-side-bar .left-side-bar-item .hobbies-box .hobbies-item {
          display: flex;
          justify-content: space-around;
          padding-left: 0.75rem;
          padding-right: 0.75rem;
          max-width: 80%;
          flex-wrap: wrap; }
          .main-page .left-side-bar .left-side-bar-item .hobbies-box .hobbies-item .hobbies-links {
            text-indent: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 0.8rem;
            text-align: center;
            width: 50px;
            margin-bottom: 0.5rem; }
            .main-page .left-side-bar .left-side-bar-item .hobbies-box .hobbies-item .hobbies-links .fa-circle {
              color: #90CAF9; }
            .main-page .left-side-bar .left-side-bar-item .hobbies-box .hobbies-item .hobbies-links .hobbies-label {
              color: black;
              font-weight: bold; }
  .main-page .right-side-bar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 65%;
    background-color: white;
    text-indent: 2rem;
    border-left: 1px solid #E0E0E0; }
    .main-page .right-side-bar .right-side-bar-item {
      flex: 1; }
      .main-page .right-side-bar .right-side-bar-item h3 {
        color: #03A9F4; }
      .main-page .right-side-bar .right-side-bar-item .work-box {
        display: flex;
        flex-direction: column; }
        .main-page .right-side-bar .right-side-bar-item .work-box .bulleted-item {
          display: inline-flex;
          margin-bottom: 0.5rem;
          font-size: 0.9rem; }
          .main-page .right-side-bar .right-side-bar-item .work-box .bulleted-item .left {
            display: flex;
            justify-content: flex-end;
            flex: 1 0 10%; }
            .main-page .right-side-bar .right-side-bar-item .work-box .bulleted-item .left .bullet {
              position: relative;
              text-indent: 0; }
              .main-page .right-side-bar .right-side-bar-item .work-box .bulleted-item .left .bullet .fa-fw {
                height: 16px;
                width: 16px; }
              .main-page .right-side-bar .right-side-bar-item .work-box .bulleted-item .left .bullet .fa-stack-2x {
                color: #E0E0E0; }
              .main-page .right-side-bar .right-side-bar-item .work-box .bulleted-item .left .bullet .fa-stack-1x {
                color: #03A9F4; }
          .main-page .right-side-bar .right-side-bar-item .work-box .bulleted-item .right {
            display: flex;
            flex-direction: column;
            flex: 1 0 90%; }
            .main-page .right-side-bar .right-side-bar-item .work-box .bulleted-item .right .item-header {
              display: flex;
              justify-content: space-between;
              font-weight: bold;
              margin-bottom: 0.5rem; }
              .main-page .right-side-bar .right-side-bar-item .work-box .bulleted-item .right .item-header .year {
                position: relative;
                left: -2rem; }
            .main-page .right-side-bar .right-side-bar-item .work-box .bulleted-item .right .item-desc {
              text-indent: 0;
              text-align: left;
              margin-left: 2rem;
              margin-right: 1rem; }
          .main-page .right-side-bar .right-side-bar-item .work-box .bulleted-item hr {
            width: 85%; }
      .main-page .right-side-bar .right-side-bar-item .skills-box {
        display: flex;
        flex-direction: column; }
        .main-page .right-side-bar .right-side-bar-item .skills-box .skills-row {
          margin-left: 1.5rem;
          margin-right: 1.5rem;
          display: inline-flex;
          justify-content: space-between; }
          .main-page .right-side-bar .right-side-bar-item .skills-box .skills-row .pie-item {
            display: flex;
            justify-content: center;
            align-items: center; }
      .main-page .right-side-bar .right-side-bar-item .education-box {
        display: flex;
        flex-direction: column; }
        .main-page .right-side-bar .right-side-bar-item .education-box .bulleted-item {
          display: inline-flex;
          margin-bottom: 0.5rem;
          font-size: 0.9rem; }
          .main-page .right-side-bar .right-side-bar-item .education-box .bulleted-item .left {
            display: flex;
            justify-content: flex-end;
            flex: 1 0 10%; }
            .main-page .right-side-bar .right-side-bar-item .education-box .bulleted-item .left .bullet {
              position: relative;
              text-indent: 0; }
              .main-page .right-side-bar .right-side-bar-item .education-box .bulleted-item .left .bullet .fa-fw {
                height: 16px;
                width: 16px; }
              .main-page .right-side-bar .right-side-bar-item .education-box .bulleted-item .left .bullet .fa-stack-2x {
                color: #E0E0E0; }
              .main-page .right-side-bar .right-side-bar-item .education-box .bulleted-item .left .bullet .fa-stack-1x {
                color: #03A9F4; }
          .main-page .right-side-bar .right-side-bar-item .education-box .bulleted-item .right {
            display: flex;
            flex-direction: column;
            flex: 1 0 90%; }
            .main-page .right-side-bar .right-side-bar-item .education-box .bulleted-item .right .item-header {
              display: flex;
              justify-content: space-between;
              font-weight: bold;
              margin-bottom: 0.5rem; }
              .main-page .right-side-bar .right-side-bar-item .education-box .bulleted-item .right .item-header .year {
                position: relative;
                left: -2rem; }
          .main-page .right-side-bar .right-side-bar-item .education-box .bulleted-item hr {
            width: 85%; }

.projects {
  border: 1px solid #616161; }
  .projects .project-bar {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 200px;
    position: relative;
    background-color: white;
    border-bottom: 1px solid #616161; }
    .projects .project-bar.row {
      flex-direction: row; }
    .projects .project-bar.row-reverse {
      flex-direction: row-reverse; }
    .projects .project-bar .project-info {
      display: flex;
      flex-direction: column;
      flex: 1 0 40%;
      position: relative; }
      .projects .project-bar .project-info .title {
        position: absolute;
        top: 0;
        left: 1rem;
        color: #03A9F4; }
      .projects .project-bar .project-info .info {
        position: absolute;
        top: 4rem;
        left: 1rem;
        text-align: left;
        color: black;
        font-size: 0.9rem;
        margin-right: 1rem; }
      .projects .project-bar .project-info .website {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        color: #03A9F4;
        font-size: 0.9rem; }
    .projects .project-bar .project-img {
      background-color: green;
      flex: 1 0 60%; }
      .projects .project-bar .project-img img {
        height: 200px; }
